//
// //
$colors: (
  bg: #000000,
  bg-lt: #151515,
  white: #FFF,
  white-trans: rgba(255,255,255,0.1),
  // accent: #f4bf75, // tan
  accent: #90a959, // green
  alt: #ac4142 // maroon
);

@function color($which,$mod:null,$val:10%) {
  $color: map-get($colors,$which);
  @if $mod == null {
    @return $color;
  } @else {
    @if $mod == dark  {
      @return darken($color,$val);
    } @if $mod == trans  {
      @return transparentize($color,$val);
    } @else {
      @return $color;
    }
  }
}


//
// //
$ui: (
  corner: 2px,
  border: 2px,
  time: (short: 50ms, mid: 200ms),
  ease: ease-out
);

@function ui($which,$variant:null) {
  $item: map-get($ui,$which);
  @if $variant == null {
    @return $item;
  } @else {
    @return map-get($item,$variant);
  }
}


//
// //
$font: (
  sm: 0.875em,
  md: 1em,
  lg: 1.4em,
  xl: 1.8em
);

@function font($which) {
  @return map-get($font,$which);
}


//
// //
$sizes: (
  header-h: 80px
);

@function size($which) {
  @return map-get($sizes,$which);
}


//
// //
$spacings: (
  header-pad: 14px
);

@function spacing($which) {
  @return map-get($spacings,$which);
}