@mixin button-color($color) {
  box-shadow: 0px ui(border) 0px 0px color($color, dark, 20%);
  text-shadow: 1px 1px 0px color($color, dark, 10%);

  background: color($color);

  &:hover,
  &:focus {
    background: color($color,dark,10%);
  }

  &:active {
    box-shadow: 0px 0px 0px 0px color($color,dark,20%);
  }
}