<a class="info-link" href="#info">Info</a>
<aside id="info">
  <a href="#" class="close"></a>
  <div class="info-inner">
    <p>This is a thing that will eventually be a part of a better thing.</p>
    <ul>
      <li><a href="http://jakealbaugh.com" target="_blank">Jake Albaugh</a></li>
      <li><a href="http://droidpinkman.io" target="_blank">Dennis Gaebel</a></li>
      <li><a href="https://github.com/svg-vector-workers" target="_blank">SVG VectorWorkers</a></li>
    </ul>
  </div>
</aside>
