<nav id="output-options-menu">
  <input id="output-options-menu-toggle" type="checkbox" class="toggle-checkbox" />
  <label for="output-options-menu-toggle" class="label-button">Options</label>
  <ul>
    <li><button id="switch" class="block">Switch to JSON</button></li>
  </ul>
</nav>