// Config
// ===============================================

@import "vars/styling";


// Mixins
// ===============================================

@import "mixins/media-query";


// Bower Plugins
// ===============================================

@import "../../bower_components/normalize-scss/normalize";


// Globals
// ===============================================

@import "globals/prism";
@import "globals/bases";

input,
textarea,
button,
pre {
  border-radius: 2px;
}

input,
textarea,
button {
  border: none;
  box-sizing: border-box;
  display: block;
  margin: 12px 0;
  padding: 10px;
  width: 100%;
}

input,
textarea {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.31), 1px 1px 1px rgba(255, 255, 255, 0.09);
  background: rgba(255, 255, 255, 0.03);
}

textarea {
  min-height: 200px;
}

button {
  background: #1161EE;
  color: white;
}


// App Globals
// ===============================================

html,
body {
  height:100%;
}

body {
  margin:auto;
  max-width:525px;
  background-color: #2C3A60;
}


// Utilities
// ===============================================
// Atoms
// ===============================================

@import "atoms/typography";


// Molecules
// ===============================================

#sample {
  background: rgba(31, 30, 30, 0.13);
  padding: 12px;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.31), 1px 1px 1px rgba(255, 255, 255, 0.09);
}


// Organisms
// ===============================================

header[role="banner"] h1 {
  font-size: 36px;
  text-transform: Capitalize;
}

// Landing
// ===============================================
// Pages
// ===============================================