// Config
// ===============================================

@import "_vars/styling";


// Mixins
// ===============================================

@import "_mixins/media-query";
@import "_mixins/buttons";


// Bower Plugins
// ===============================================

@import "../../bower_components/normalize-scss/normalize";


// Globals
// ===============================================

@import "_globals/bases";


// App Globals
// ===============================================

html,
body {
  height: 100%;
}

body {
  background-color: color(bg);
  font-family: 'Open Sans', sans-serif;
}

a, a:link {
  color: color(alt);
  &:hover {
    color: color(alt, dark, 20%);
  }
}


// Plugins
// ===============================================

.CodeMirror {
  flex: 2;
  height: calc(100vh - #{size(header-h) + ui(border)});
  margin: 0;
  resize: none;
  font-family: Inconsolata;
  font-size: font(sm);

  &:nth-child(even) {
    border-left: ui(border) solid color(white-trans);
  }
}

.CodeMirror-lines {
  padding: 2em 0;
}

.CodeMirror-line {
  line-height: 1.6;
}


// Atoms
// ===============================================

@import "atoms/typography";
@import "atoms/logo";
@import "atoms/buttons";
@import "atoms/output-options-menu";
@import "atoms/toggle-checkbox";


// Molecules
// ===============================================

@import "molecules/code-windows";


// Organisms
// ===============================================

@import "organisms/info";
@import "organisms/header";



// Templates
// ===============================================

.svgc-app {
  opacity: 1;
  transition: opacity ui(time,mid) ui(ease);
  &.loading { opacity: 0; }
}

// Utilities
// ===============================================