// Config
// ===============================================

@import "vars/styling";


// Mixins
// ===============================================

@import "mixins/media-query";


// Bower Plugins
// ===============================================

@import "../../bower_components/normalize-scss/normalize";


// Globals
// ===============================================

@import "globals/bases";


// App Globals
// ===============================================

html,
body {
  height: 100%;
}

body {
  background-color: color(bg);
  font-family: 'Open Sans', sans-serif;
}

header {
  background: color(bg);
  height: size(header-h) - spacing(header-pad)*2;
  line-height: size(header-h) - spacing(header-pad)*2;
  padding: spacing(header-pad);
  border-bottom: ui(border) solid color(alt);
  display: flex;
  flex-wrap: wrap;
  // box-sizing: border-box;
  > div {
    flex: 2;
  }
  > div:last-child {
    text-align: right;
  }
}


// Utilities
// ===============================================
// Atoms
// ===============================================

@import "atoms/typography";
@import "atoms/logo";
@import "atoms/buttons";


// Molecules
// ===============================================

#sample {
  background: rgba(31, 30, 30, 0.13);
  padding: 12px;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.31), 1px 1px 1px rgba(255, 255, 255, 0.09);
}


// Organisms
// ===============================================

.CodeMirror {
  height: calc(100vh - #{size(header-h) + ui(border)});
  resize: none;
  font-size: font(sm);
  .CodeMirror-lines {
    padding: 2em 0;
  }
  .CodeMirror-line {
    line-height: 1.6;
  }
}


// Templates
// ===============================================

.code-windows {
  display: flex;
  flex-wrap: wrap;
  > .CodeMirror {
    font-family: Inconsolata;
    flex: 2;
    margin: 0;
  }
}