---
basename: landing
title: SVG Clean | Gradients
layout: default
description:
---

<div class="svgc-app">
  <section class="code-windows">
    <textarea id="input" placeholder="Input">{{> testSvg}}</textarea>
    <textarea id="output" placeholder="Output"></textarea>
  </section>
</div>