---
basename: landing
title: SVG Clean | Gradients
layout: default
description:
---

<div class="svgc-section">
  <header role="header">
    <div>{{> logo}}</div>
    <div>
      <button id="trigger">Organize Gradients Into &lt;defs&gt;</button>
    </div>
  </header>
  <section class="code-windows">
    <textarea id="input" placeholder="Input">
&lt;svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800" height="600" viewBox="0 0 800 600"&gt;
    &lt;defs&gt;&lt;/defs&gt;
    &lt;g&gt;
      &lt;linearGradient id="e" gradientUnits="userSpaceOnUse" x1="105.933" y1="168.139" x2="105.933" y2="364.116"&gt;
        &lt;stop offset=".004" stop-color="#C49E89"/&gt;
        &lt;stop offset=".256" stop-color="#A77F56"/&gt;
        &lt;stop offset=".281" stop-color="#9F7952"/&gt;
        &lt;stop offset=".382" stop-color="#856445"/&gt;
        &lt;stop offset=".493" stop-color="#70533B"/&gt;
        &lt;stop offset=".618" stop-color="#614834"/&gt;
        &lt;stop offset=".766" stop-color="#594130"/&gt;
        &lt;stop offset="1" stop-color="#563F2F"/&gt;
      &lt;/linearGradient&gt;
      &lt;path fill="url(#e)" d="M99.9 168.1l-5.2 193.7s11.5 5.7 22.5-.7l-4.2-193H99.9z"/&gt;
    &lt;/g&gt;
    &lt;g&gt;
      &lt;linearGradient id="f" gradientUnits="userSpaceOnUse" x1="677.744" y1="174.154" x2="677.744" y2="370.131"&gt;
        &lt;stop offset=".004" stop-color="#C49E89"/&gt;
        &lt;stop offset=".256" stop-color="#A77F56"/&gt;
        &lt;stop offset=".281" stop-color="#9F7952"/&gt;
        &lt;stop offset=".382" stop-color="#856445"/&gt;
        &lt;stop offset=".493" stop-color="#70533B"/&gt;
        &lt;stop offset=".618" stop-color="#614834"/&gt;
        &lt;stop offset=".766" stop-color="#594130"/&gt;
        &lt;stop offset="1" stop-color="#563F2F"/&gt;
      &lt;/linearGradient&gt;
      &lt;path fill="url(#f)" d="M671.7 174.2l-5.2 193.7s11.5 5.7 22.5-.7l-4.1-192.9h-13.2z"/&gt;
    &lt;/g&gt;
    &lt;g&gt;
      &lt;linearGradient id="g" gradientUnits="userSpaceOnUse" x1="742.187" y1="127.981" x2="742.187" y2="373.223"&gt;
        &lt;stop offset=".004" stop-color="#C49E89"/&gt;
        &lt;stop offset=".256" stop-color="#A77F56"/&gt;
        &lt;stop offset=".281" stop-color="#9F7952"/&gt;
        &lt;stop offset=".382" stop-color="#856445"/&gt;
        &lt;stop offset=".493" stop-color="#70533B"/&gt;
        &lt;stop offset=".618" stop-color="#614834"/&gt;
        &lt;stop offset=".766" stop-color="#594130"/&gt;
        &lt;stop offset="1" stop-color="#563F2F"/&gt;
      &lt;/linearGradient&gt;
      &lt;path fill="url(#g)" d="M734.6 128l-6.5 242.4s14.3 7.1 28.1-.9L751.1 128h-16.5z"/&gt;
    &lt;/g&gt;
  &lt;/svg&gt;
    </textarea>
    <textarea id="output" placeholder="Output"></textarea>
  </section>
</div>