---
basename: landing
title: SVG Clean | Gradients
layout: default
description:
---

<div id="app" class="svgc-app loading">
  <section class="code-windows">
    <textarea id="input" placeholder="Input">{{> test-svg}}</textarea>
    <textarea id="output" placeholder="Output"><!--

  output will be here

--></textarea>
  {{> output-options-menu}}
  </section>
</div>