---
basename: landing
title: SVG Clean | Gradients
layout: default
description:
---

<div class="svgc-app">
  <section class="code-windows">
    <textarea id="input" placeholder="Input">{{> test-svg}}</textarea>
    <textarea id="output" placeholder="Output"><!--
// output will be here
--></textarea>
  </section>
</div>