@mixin button-color($color) {
  box-shadow: 0px ui(border) 0px 0px color($color, dark, 20%);
  text-shadow: 1px 1px 0px color($color, dark, 10%);

  background: color($color);

  &:hover,
  &:focus {
    background: color($color,dark,10%);
  }

  &:active {
    box-shadow: 0px 0px 0px 0px color($color,dark,20%);
  }
}

button {
  border: none;
  border-radius: ui(corner);

  @include button-color(accent);

  outline: none;
  padding: 1em 2em;

  transition: box-shadow ui(time) ui(ease),
    transform ui(time) ui(ease),
    background ui(time) ui(ease);

  font-size: 14px;
  font-weight: 300;
  line-height: 1;

  color: white;

  &:active {
    transform: translateY(ui(border));
  }

  &.alt {
    @include button-color(alt);
  }
}