button, .label-button {
  @include button-traits();
  &.block {
    @include button-block();
  }
}

button {
  // resets
  border: none; outline: none;

  @include button-color(accent);
  @include button-scale(1,1,2);

  &.alt {
    @include button-color(alt);
  }
}

.label-button {
  // resets
  cursor: pointer;
  user-select: none;

  @include button-color(alt);
  @include button-scale(1,0.5,0.5);
}