button {
  border: none;
  border-radius: ui(corner);
  outline: none;
  padding: 1em 2em;
  transition: box-shadow ui(time) ui(ease), transform ui(time) ui(ease), background ui(time) ui(ease);
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  @include button-color(accent);
  color: white;

  &:active {
    transform: translateY(ui(border));
  }

  &.alt {
    @include button-color(alt);
  }
}